<div class = "page-header">
  <h2>List of all quotes</h2>
</div>

<%= link_to 'New Quote', new_quote_path, class:"btn btn-success" %>

<% @quotes.each do |quote| %>
<div class="status">
  <div class="row">
    <div class = "span1">
      <%= image_tag quote.user.gravatar_url %>
    </div>
    <div class = "span7">
      <strong><%= quote.user.full_name %></strong>
      <p><%= quote.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(quote.created_at)+" ago", quote %>
        <span class = "admin">
          | <%= link_to 'Edit', edit_quote_path(quote) %>
          | <%= link_to 'Delete',quote, method: :delete, confirm: "Are you sure ?" %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
  

