<p id="notice"><%= notice %></p>

<div class="row well">
    <div class = "span1">
      <%= image_tag @quote.user.gravatar_url %>
    </div>
    <div class = "span7">
      	<strong><%= @quote.user.full_name %></strong>
      	<p><%= @quote.content %></p>
      	<%= link_to 'Edit', edit_quote_path(@quote) %> |
		<%= link_to 'Back', quotes_path %>
	</div>
</div>	



