<!DOCTYPE html>
<html>
	<head>
  		<title>Lovebook</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class = "navbar navbar-fixed-top navbar-inverse">
			<div class = "navbar-inner">
				<div  class = "container">
					<a class = "brand" href = "#">Lovebook</a>
					<ul class="nav">
						<li><%= link_to "All Quotes",feed_path %></li>
					</ul>
					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to current_user.full_name, quotes_path %></li>
							<li><%= link_to "Sign out", signout_path %></li>
						<% else %>	
							<li><%= link_to "Register", register_path %></li>
							<li><%= link_to "Login", signin_path %></li>
						<% end %>
					</ul>	
				</div>
			</div>
		</div>
		<div class = "container">
			<% flash.each do |type,messege|%>
				<div class="alert <%= flash_type_class(type) %>">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
  					<strong><%= messege %></strong>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
